@font-face {
  font-family: 'Sharp';
  src: url('/SharpGroteskTrial-VF.ttf') format('truetype');
}

body {
  display: grid;
  min-block-size: 100vh;
  place-items: center;
}

h1 {
  animation: 6s ease-out scale infinite alternate, 6s ease-out stretch infinite alternate;
  font-family: 'Sharp';
  font-size: clamp(4rem, 1.714rem + 11.43vw, 12rem);
}

@keyframes scale {
  0% {
    font-weight: 200;
  }
  100% {
    font-weight: 800;
  }
}

@keyframes stretch {
  0% {
    font-stretch: 100%;
  }

  100% {
    font-stretch: 500%;
  }
}
