@font-face {
  font-family: 'Sharp';
  src: url('/SharpGroteskTrial-VF.ttf') format('truetype');
}

h1 {
  animation: stretch 6s ease-in forwards infinite;
  font-family: 'Sharp';
  font-size: 5rem;
}

@keyframes stretch {
  0%, 100% {
    font-variation-settings: "wght" 200;
  }
  50% {
    font-variation-settings: "wght" 700;
  }
}